
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
   
</head>
<body >
  <div class=" main w-full min-h-screen p-10 bg-zinc-900 text-white ">
   <a class="text-blue-500 inline-block mb-10" href="/">Go Back The Home Page</a>

   <form class="mt-10" action="/edit" method="post">
    <input class="block w-1/4 mb-3 rounded-lg px-5 py-2 bg-zinc-800"  type="text" placeholder="Previous name" name="Previous" value="<%= filename %>">
    <input class="block w-1/4 rounded-lg px-5 py-2 bg-zinc-800"  type="text" placeholder="New name" name="new">
    
    <input class="mt-2 bg-yellow-600 px-5 py-2 rounded-md" type="submit" value="change name">
</form>
  </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>